#left-navbar {
  flex: 1;
}

#main-content {
  flex: 2;
}

#follow-suggestions {
  flex: 1;
}

.wd-avatar-img {
  height: 40px;
  width: 40px;
  object-fit: cover;

}

.wd-flex-1 {
  flex: 1;
}

.wd-flex-2 {
  flex: 2;
}

.wd-follow-button {
  height: 35px;
  width:10px;
}

.wd-search-input {
  width: 90%;
}

.wd-main-content-img {
  height: 700px;
  width: 100%; 
}

.wd-container {
  position: relative;
  text-align: center;
  color: white;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.wd-bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.wd-main-content-img-text {
  font-size: 40px;
  font-weight: bold;
}


.wd-bold {
  font-weight: bold;
}

#main-content {
  border: 1px solid gray;
}

.wd-suggestion-img{
  height: 60px;
  width: 60px;
}

@media (max-width: 1200px){
  .wd-left-navbar {
    width: 25%;
    min-width: 68px;
  }
}


@media (min-width: 1200px) { 
  .wd-left-navbar {

    width: auto;
  }
}
