.bookmarks-title-div {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
}

.title {
  display: block;
  font-size: 20px;
}

.username {
  font-size: 13px;
  color: lightgray;
  margin-bottom: 12px;
}
