.wd-bookmarks-title-div {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  margin-right: -16px;
  margin-left: -16px;
}

.wd-title {
  display: block;
  font-size: 20px;
}

.wd-username {
  font-size: 13px;
  color: lightgray;
}

.wd-username-main {
  font-size: 15px;
  color: lightgray;
}

.wd-bookmarks-title-div > div{
  margin-left: 16px;
  margin-bottom: 12px;
}
.wd-bookmarks-title-div > span {
  margin-right: 16px;
}

.wd-bookmarked-tweet {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  margin-left: -16px;
  margin-right: -16px;
  border-bottom: 1px solid var(--border-color);
}

.wd-bookmarked-tweet > * {
  /* margin-top: 12px; */
  /* display: flex; */
  /* flex-direction: row; */
  margin-left: 16px;
  margin-right: 16px;
  /* border-bottom: 1px solid var(--border-color); */
}
.wd-tweet-avatar {
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

.wd-tweet {
  margin-left: 12px;
}

.wd-tweet-info-actions {
  display: flex;
  justify-content: space-between;
}

.wd-tweet-info-actions > div > span {
  font-size: 15px;
}

.wd-tweet-main-content {
  font-size: 15px;
  max-width: 506px;
  margin-bottom: 12px;
}

.wd-tweet-content-img {
  width: 504px;
  height: 264px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.wd-tweet-content-img-heading {
  display: inline-block;
  margin-top: 12px;
  font-size: 15px;
  font-weight: bold;
  padding: 0 12px 12px 12px;
}

.wd-tweet-content-img-desc {
  display: inline-block;
  font-size: 15px;
  color: lightgray;
  padding: 0 12px 12px 12px;
}

.wd-tweet-content-section {
  max-width: 506px;
  border: 1px solid var(--border-color);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.wd-action-items {
  padding: 0 5px;
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  max-width: 370px;
  margin-bottom: 10px;
}



.wd-icon-padding {
  margin-right: 12px;
}

.wd-colored-heart {
  color: red;
}
